<form [formGroup]="productForm">
  <div>
    <label for="id"> ID </label>
    <input id="id" type="text" formControlName="id" />
    <button type="button" (click)="onClickGenerateButton()">Generate</button>
  </div>

  <div>
    <label for="name"> Name </label>
    <input id="name" type="text" formControlName="name" />
  </div>

  <div>
    <label for="price"> Price </label>
    <input id="price" type="number" formControlName="price" />
  </div>

  <div>
    <label for="categories"> Categories </label>
    <select multiple formControlName="categories">
      <option value="shoes"> Обувь </option>
      <option value="clothes"> Одежда </option>
      <option value="medicines"> Лекарства </option>
      <option value="food"> Еда </option>
      <option value="electronic"> Электроника </option>
    </select>
  </div>

  <div>
    <button type="button" (click)="onSubmit()"> Submit </button>
  </div>
</form>